<div class="login">
    <h1>Login</h1>
    <form class="formulario" id="loginForm">
        <label>Email</label>
        <input name="email">
        <br/>
        <label>Contraseña</label>
        <input name="password" type="text">
        <br/>
        <input class="btn" type="submit">
    </form>
    <p>¿No estas registardo?<a href="/register">Registrate Aquí</a></p>
    <a href="/whatemail"><button class="btn">Restablecer Contraseña</button></a>
</div>
<script src="/js/login.js"></script>