<div class="login">
    <h1>Recuperar Contraseña</h1>
    <p>¿ Cual es tu email ?</p>

    <form class="formulario" id="recoverPass">
        <label>Email</label>
        <input name="email">
        <br/>
        <input class="btn" type="submit">
    </form>
</div>
<script src="/js/whatEmail.js"></script>